@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;700&family=Playfair+Display+SC:wght@400;700;900&display=swap');
/* font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display SC', serif; */
/* Header */
h2{
color: white;
/* margin-bottom: 1.5rem; */
font-family: 'Playfair Display SC', serif;
}
p{
font-family: 'Montserrat', sans-serif;
color: white;
}


*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
header{
width: 100%;
height: 8vh;
display: flex;
position: fixed;
z-index: 1;
background-color: white;
justify-content: space-around;
align-items: center;
}
.MenuMobile{
display:none;
}
.DivMenuMobile{
display: none;
}
.LogoHeader{
width: 5vw;
margin-left: 3rem;
}
.HeaderNav{
display: flex;

}
.HeaderUl{
display: flex;
justify-content: space-evenly;
align-items: center;
}
.ListItemBold{
list-style: none;
/* margin-left: 3rem; */
font-size: 1em;
color: #9767A9;
margin-left: 8rem;
font-family: 'Montserrat', sans-serif;   
font-weight: 900;
}
.ListItem{
list-style: none;
margin-left: 1.4rem;
font-size: 1em;
color: #9767A9;
font-family: 'Montserrat', sans-serif;}
.HeaderDiv{
justify-content: space-evenly;
}
#Pesquisa{
border: solid #9767A9;
width: 10vw;
height: 4vh;
border-radius: 23vw;
/* background: url("svg/logo-input.svg") no-repeat left 0.3em; */
background-image: url("svg/logo-input.svg");
background-repeat: no-repeat;
background-size: cover;
background-position: left;
background-size: 1.2em;
padding-left:1.3rem;
color: #AC95BB;
font-family: 'Montserrat', sans-serif;
}
::placeholder{
color: #AC95BB;
font-family: 'Montserrat', sans-serif;
}
.LogoNavegation{
width: 3vw;
padding-left: 0.5rem;
}

/* Tittle */

#Tittle{
width: 100%;
height: 70vh;
background-image: url("galeria/cabeludo.png");
background-size: cover;
/* background-position: right ; */
background-repeat: no-repeat;
display: flex;
justify-content: space-evenly;
align-items: center;
}
.divTittleOne{ 
width: 20vw;
height: 20vh;
position: relative;
top: 2rem;
right: 4.3rem;
}
.divTittleTwo{  
width: 20vw;
height: 15vh;
position: relative;
top: 3rem;
left: 4vh;
}
#TittleH2{
color: white;
font-size: 3.5em;
font-family: 'Playfair Display SC', serif;

}
#TittleParagraph{
color: white;
font-size: 1.3em;
font-family: 'Montserrat', sans-serif;

}
/* Layout Roxo */
#LayoutPurple{
background-color: #9767A9;
width: 100%;
height: 30vw;
display: flex;
justify-content:space-evenly;
}
.LayoutH2{
/* border: solid 3px rgb(6, 225, 6); */
margin-top: 2rem;
width: 50vw;
height: 30vh;
font-size: 2rem;
/* position: relative;
top: 1.7rem; */
}
.LayoutParagraph{
/* border: solid 3px rgb(6, 225, 6); */
margin-top: 4rem;
width: 40vw;
height:35vh;
font-size: 1.2rem;
padding-right: 1rem;
font-family: 'Montserrat', sans-serif;

}
.BackgroundCardLeft{
width: 100%;
height: 500vh;
/* display: flex; */
justify-content: space-evenly;
}
.PhotoCardLeft{
border: solid green;
background-color: rgba(127, 255, 212, 0.445);
width:45vw;
height: 60vh; 
margin-left: 2rem ;
margin-top: -10rem;
z-index: 2;
}
.ParagraphCardLeft{
border: solid orange;
background-color: #9767A9;
width: 30vw;
height: 65vh; 
margin-left: 4rem ;
position: relative;
top: 20rem;
z-index: 1;
text-align: left;
padding: 2rem 2rem 0 2rem;
}
.PhotoCardRight{
border: solid rgb(17, 0, 128);
background-color: rgba(127, 140, 255, 0.445);
width:45vw;
height: 60vh; 
margin-left:45rem;
margin-top: -10rem;
z-index: 2;  
}
.ParagraphCardRight{
border: solid rgb(0, 255, 17);
background-color: #fe5151c2;
width: 30vw;
height: 65vh; 
margin-left: 5rem ;
position: relative;
top: 20rem;
z-index: 1;
text-align: left;
padding: 2rem 2rem 0 2rem;
}




/* ---media Telas Pequenas-- */
@media (min-width:101px) and (max-width:300px) {
header{
width: 100%;
height: 8vh;
display: flex;
align-items: center;
} 
.LogoHeader{
width: 5vw;
position: relative;
justify-content: center;
right: 1.5rem;
}
.HeaderNav{
display: none;
}
.HeaderUl{
display: none;

}
#Pesquisa{
display: none;

}
.LogoNavegation{
display: none;

}
.DivMenuMobile{
display: flex;
justify-content: start;
}
.MenuMobile{
display: flex;
justify-content: start;
}
/* .MenuMobile:hover{
display: flex;
transition: initial;
width: 40vw;
height: 90vh;
background-color: #9767A9;
}
.DivMenuMobile:hover{
display: flex;
position: relative;
top: 5.5rem;
} */
body{
flex-direction: column;
}        
#Tittle{
/* border: solid fuchsia; */
width: 100%;
height: 50vh;
background-image: url("galeria/cabeludoMobile.png");
background-size: cover;
background-repeat: no-repeat;
flex-direction: column;
display: flex;
}
.divTittleOne{ 
width: 50vw;
height: 15vh;
position: absolute;
top: 6rem;
left: 2rem;
}
#TittleH2{
color: white;
padding-bottom: 1.3rem;
font-size: 2.7em;
font-family: 'Playfair Display SC', serif;
}
.divTittleTwo{  
width: 65vw;
height: 10vh;
position: absolute;
top: 15rem;
left: 2rem;
}       
#TittleParagraph{
color: white;
font-size: 1.3em;
font-family: 'Montserrat', sans-serif;   

}
}
/* ---media Mobile-- */
@media (min-width:201px) and (max-width:500px) {
header{
width: 100%;
height: 8vh;
display: flex;
align-items: center;
} 
.LogoHeader{
width: 20vw;
position: relative;
justify-content: center;
right: 1.5rem;
}
.HeaderNav{
display: none;
}
.HeaderUl{
display: none;

}
#Pesquisa{
display: none;

}
.LogoNavegation{
display: none;

}
.DivMenuMobile{
display: flex;
justify-content: start;
}
.MenuMobile{
display: flex;
justify-content: start;
width: 10vw;
}
/* .MenuMobile:hover{
display: flex;
transition: initial;
width: 40vw;
height: 90vh;
background-color: #9767A9;
}
.DivMenuMobile:hover{
display: flex;
position: relative;
top: 5.5rem;
} */
body{
flex-direction: column;
}        
#Tittle{
/* border: solid fuchsia; */
width: 100%;
height: 80vh;
background-image: url("galeria/cabeludoMobile.png");
background-size: cover;
background-repeat: no-repeat;
flex-direction: column;
display: flex;
}
.divTittleOne{ 
width: 50vw;
height: 15vh;
position: absolute;
top: 5rem;
left: 2rem;
}
#TittleH2{
color: white;
font-size: 2.7em;
font-family: 'Playfair Display SC', serif;
}
.divTittleTwo{  
width: 65vw;
height: 10vh;
position: absolute;
top: 19rem;
left: 2rem;
}       
#TittleParagraph{
color: white;
font-size: 1.3em;
font-family: 'Montserrat', sans-serif;   
}
/* Layout Roxo */
#LayoutPurple{
background-color: #9767A9;
width: 100%;
height: 55vh;
flex-direction: column;
align-items: center;
justify-content: center;
}
.LayoutH2{
/* border: solid 3px rgb(6, 61, 225); */
width: 90%;
height: 10vh;
font-size: 0.7rem;
text-align: justify;
margin-top: 0;

}
.SeparacaoMobile{
padding-bottom: 2rem;
}
.LayoutParagraph{
/* border: solid 3px rgb(10, 6, 225); */
width: 90%;
height: 40vh;
font-size: 0.8rem;
margin-top: 0rem;
font-family: 'Montserrat', sans-serif;
}
 /*CARDS */

 .BackgroundCardLeft{
    border: solid orange;
width: 100%;
height: 500vh;
display: flex;
flex-direction: column;
/* justify-content: space-evenly; */
}
.PhotoCardLeft{
border: solid green;
background-color: rgba(127, 255, 212, 0.445);
width:45vw;
height: 60vh; 
margin-left: 2rem ;
position: relative;
top: -5rem;
z-index: 2;
}
.ParagraphCardLeft{
border: solid orange;
background-color: #9767A9;
width: 30vw;
height: 65vh; 
margin-left: 4rem ;
position: relative;
top: 20rem;
z-index: 1;
text-align: left;
padding: 2rem 2rem 0 2rem;
}
/* .PhotoCardRight{
border: solid rgb(17, 0, 128);
background-color: rgba(127, 140, 255, 0.445);
width:45vw;
height: 60vh; 
margin-left: 1.5rem ;
position: relative;
top: 6rem;
z-index: 2;  
}
.ParagraphCardRight{
border: solid rgb(0, 255, 17);
background-color: #fe5151c2;
width: 30vw;
height: 65vh; 
margin-left: 5rem ;
position: relative;
top: 20rem;
z-index: 1;
text-align: left;
padding: 2rem 2rem 0 2rem;
} */



}


