@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&family=Playfair+Display:wght@400;700;900&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
header{
width: 100%;
height: 8vh;
display: flex;
position: fixed;
z-index: 3;
background-color: white;
justify-content: space-around;
align-items: center;
}
.MenuMobile{
display:none;
}
.DivMenuMobile{
display: none;
}
.LogoHeader{
width: 5vw;
margin-left: 3rem;
}
.HeaderNav{
display: flex;

}
.HeaderUl{
display: flex;
justify-content: space-evenly;
align-items: center;
}
.HeaderListItem{
list-style: none;
text-decoration: none;

margin-left: 1.4rem;
font-size: 1em;
color: #9767A9;
font-family: 'Montserrat', sans-serif;
}
.HeaderListItem:hover{
list-style: none;
margin-left: 1.4rem;
font-size: 1em;
color: #9767A9;
font-weight: 700;
font-family: 'Montserrat', sans-serif;
}
.HeaderLink{
text-decoration: none;

}
.HeaderDiv{
justify-content: space-evenly;
}
#Pesquisa{
border: solid #9767A9;
width: 10vw;
height: 4vh;
border-radius: 23vw;
background-image: url("svg/logo-input.svg");
background-repeat: no-repeat;
background-position-x: 0.3rem;
background-position-y: 0.3rem;
background-size: 1.2em;
padding-left:1.4rem;
color: #AC95BB;
font-family: 'Montserrat', sans-serif;
}
::placeholder{
color: #AC95BB;
font-family: 'Montserrat', sans-serif;
}

.LogoNavegation{
width: 3vw;
padding-left: 0.5rem;
}
a{
text-decoration: none;
}
#Tittle{
width: 100%;
height: 70vh;
background-image: url("img/cabeludo.png");
background-size: cover;
background-repeat: no-repeat;
display: flex;
justify-content: space-evenly;
align-items: center;
}
.divTittleOne{ 
width: 20vw;
height: 20vh;
position: relative;
top: 2rem;
right: 4.3rem;
}
.divTittleTwo{  
width: 20vw;
height: 15vh;
position: relative;
top: 3rem;
left: 4vh;
}
#TittleH2{
color: white;
font-size: 3.5em;
font-family: 'Playfair Display', serif;
}
#TittleParagraph{
color: white;
font-size: 1.3em;

font-family: 'Montserrat', sans-serif;

}
#LayoutPurple{
background-color: #9767A9;
width: 100%;
height: 30vw;
display: flex;
justify-content:center;

}
.LayoutH2{
margin-top: 2rem;
width: 45vw;
height: 30vh;
font-size: 1.7rem;
text-align: left;
color: white;
font-family: 'Playfair Display', serif;
}
.LayoutParagraph{
margin-top: 2.5rem;

margin-left:1rem ;
width: 45vw;
height:40vh;
font-size: 1.4rem;
color: white;
font-family: 'Montserrat', sans-serif;
}
.BackgroundCard{
width: 100%;
height: 500vh;
justify-content: space-evenly;

}
.CardH2{
color: white;
padding: 1rem 2rem 1rem 2rem;
font-weight: 700;
font-size: 2.2em;
font-family: 'Playfair Display', serif;
}
.CardParagraph{
color: white;
font-size: 1em;
margin-bottom: 1rem;
padding: 0rem 2rem 0 2rem;
font-family: 'Montserrat', sans-serif;
}
.PhotoCardLeftCriancas{
background-image: url("img/cabelo-espelho.png");
background-size: cover;
background-repeat: no-repeat;
width:45vw;
height: 60vh; 
margin-top: -6rem;
margin-left: 3rem ;
z-index: 2;
}
.ParagraphCardLeftCriancas{
background-color:#9767A9;
width: 35vw;
height: 55vh; 
margin-left: 6rem ;
margin-top: -6rem;
z-index: 1;
text-align: left;
flex-wrap: wrap;

color: white;

}
.PhotoCardRightMajur{
background-image: url("img/Majur-Coutinho.png");
background-size: cover;
background-repeat: no-repeat;
width:45vw;
height: 70vh; 
margin-top: -20rem;
margin-left:40rem;
z-index: 2;  
}
.ParagraphCardRightMajur{
background-color:#9767A9;
width: 35vw;
height: 50vh; 
margin-left:44rem;
margin-top: -6rem;
z-index: 1;
text-align: left;
color: white;
}
.PhotoCardLeftCachos{
background-image: url("img/Modelo-cachos.png");
background-size: cover;
background-repeat: no-repeat;
width:45vw;
height: 60vh; 
margin-top: -11rem;
margin-left: 3rem ;
z-index: 2;
}
.ParagraphCardLeftCachos{
background-color:#9767A9;
width: 35vw;
height: 50vh; 
margin-left: 6rem ;
margin-top: -3rem;
z-index: 1;
text-align: left;
flex-wrap: wrap;
color: white;

}
.PhotoCardRightRainha{
background-image: url("img/Rainha-Afro.png");
background-size: cover;
background-repeat: no-repeat;
width:45vw;
height: 70vh; 
margin-left:40rem;
margin-top: -20rem;
z-index: 2;  
}
.ParagraphCardRightRainha{
background-color:#9767A9;
width: 35vw;
height: 50vh; 
margin-left:44rem;
margin-top: -6rem;
z-index: 1;
text-align: left;
flex-wrap: wrap;
color: white;
}
.PhotoCardLeftFamilia{
background-image: url("img/Mae-e-Filha.png");
background-size: cover;
background-repeat: no-repeat;
width:45vw;
height: 60vh; 
margin-left: 3rem ;
margin-top: -15rem;
z-index: 2;
}
.ParagraphCardLeftFamilia{
background-color:#9767A9;
width: 35vw;
height: 45vh; 
margin-top: -2rem;
margin-left: 6rem ;
z-index: 1;
text-align: left;
flex-wrap: wrap;
color: white;

}
.PhotoCardRightBanho{
background-image: url("img/Espuma-no-cabelo.png");
background-size: cover;
background-repeat: no-repeat;
width:45vw;
height: 70vh; 
margin-left:40rem;
margin-top: -20rem;
z-index: 2;  
}
.ParagraphCardRightBanho{
background-color:#9767A9;
width: 35vw;
height:40vh; 
margin-left:44rem;
margin-top: -6rem;
z-index: 1;
text-align: left;
flex-wrap: wrap;
color: white;
}
.PhotoCardLeftCabeloBranco{
background-image: url("img/Modelo-cabelo-branco.png");
background-size: cover;
background-repeat: no-repeat;
width:45vw;
height: 60vh; 
margin-left: 3rem ;
margin-top: -10rem;
z-index: 2;
}
.ParagraphCardLeftCabeloBranco{
background-color:#9767A9;
width: 35vw;
height: 40vh; 
margin-left: 6rem ;
margin-top: -3rem;
z-index: 1;
text-align: left;
flex-wrap: wrap;
color: white;

}  
.PhotoCardRightArquivoSvg{

background-image: url("svg/Cachos-preto.svg");
background-size: contain;
background-repeat: no-repeat;
background-position: center;
width:30vw;
height: 70vh; 
margin-left:45rem;
margin-top: -31rem;
z-index: 2;  
}  
#MobileGridGalery{
display: none;
}
#GridGalery{
height: 90vh;
display: grid;
grid-template-columns: 0.3fr 0.2fr 0.2fr 0.3fr 0.2fr;
grid-template-rows: 25vh 25vh 25vh;
grid-template-areas:
"rei Beyonce Grace Volume NagoHair"
"rei Pantera Grace Volume Retinto"
"GloriaM ThaisA SnoopyD Volume Retinto";
grid-gap: 2vh;
margin-left:3rem ;
margin-right: 3rem;
}
.rei{
grid-area: "rei";
grid-column-start: 1;
grid-row-end: span 2;
background-image: url("img/Rei-Afro.png");
background-size:cover;
background-repeat: no-repeat;
background-position: center;
}
.Beyonce{
grid-area: "Beyonce";
grid-column-start: 2;
grid-template-rows: 1;
background-image: url("img/Beyonce.png");
background-size:cover;
background-repeat: no-repeat;
background-position: center;
}
.Grace{
grid-area: "Grace";
grid-column-start: 3;
grid-row-end: span 2;
grid-template-rows: 1;
background-image: url("img/grace-jones.png");
background-size:cover;
background-repeat: no-repeat;
background-position: center;
}
.Volume{
grid-area: "Volume";
grid-column-start: 4;
grid-template-rows: 1;
grid-row-end: span 3;
background-image: url("img/Modelo-cabelo-volumoso.png");
background-size:cover;
background-repeat: no-repeat;
background-position: center;
}
.NagoHair{
grid-area: "NagoHair";
grid-column-start: 5;
grid-row: 1;
background-image: url("img/modelo-nago.png");
background-size:cover;
background-repeat: no-repeat;
background-position: center;

}
.Pantera {
grid-area: "Pantera";
grid-column-start: 2;
grid-template-rows: 2;
background-image: url("img/Pantera-Negra.png");
background-size:cover;
background-repeat: no-repeat;
background-position: center;
}
.Retinto {
grid-area: "Retinto";
grid-column-start: 5;
grid-row-end:span  2;
background-image: url("img/Modelo-retinto.png");
background-size:cover ;
background-repeat: no-repeat;
background-position: center;
}
.GloriaM {
grid-area: "GloriaM";
grid-column-start: 1;
grid-template-rows: 3;
background-image: url("img/gloriamaria.png");
background-size:50vh;
background-repeat: no-repeat;
background-position: center;

}
.ThaisA {
grid-area: "ThaisA";
grid-column-start: 2;
grid-template-rows: 3;
background-image: url("img/Thais-Araujo.png");
background-size:cover;
background-repeat: no-repeat;
background-position: center;
}
.SnoopyD{
grid-area: "SnoopyD";
grid-column-start: 3;
grid-template-rows: 3;
background-image: url("img/cabelo-snoopydog.png");
background-size:cover;
background-repeat: no-repeat;
background-position: center;
}
footer{
background-color: #9767A9;
height: 10vh;
display: flex;
align-items: center;
justify-content: flex-end;
}
.MobileButtom{
display: none;
}
.FooterNav{
margin-right: 4rem;
}
.FooterUl{
display: flex;
justify-content: space-around;
align-items: center;
height: 7vh;
}
.FooterLink:hover{
background-color: rgba(255, 255, 255, 0.585);

}
.FooterLink{
text-decoration: none;
text-align: center;
flex-wrap: wrap;
display: flex;
justify-content: center;
align-items: center;

}
.FooterLinkList{
list-style: none;
margin-left: 0.2rem;
}
.Buttom{
width: 2vw;
text-align: center;
}
.ButtomText{
margin-left: 0.1rem;
color: white;
font-family: 'Montserrat', sans-serif;
font-size: 0.6em;
width: 3.7vw;
}
@media (min-width:201px) and (max-width:500px) {
header{
width: 100%;
height: 5vh;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 3;
} 
.LogoHeader{
width: 15vw;
margin-left: 2rem;
}
.HeaderNav{
display: none;
}
.HeaderUl{
display: none;

}
#Pesquisa{
display: none;

}
.LogoNavegation{
display: none;

}
.DivMenuMobile{
display: flex;
justify-content: flex-start;
height: 100%;
}
.MenuMobile{
display: flex;
justify-content: start;
width: 100%;
}
#Tittle{
width: 100%;
height: 60vh;
background-image: url("img/cabeludoMobile.png");
background-size: cover;
background-repeat: no-repeat;
display: flex;
justify-content: space-evenly;
align-items: center;
flex-direction: column;

}
.divTittleOne{ 
width: 60vw;
height: 15vh;
position: absolute;
top: 5rem;
left: 2rem;
}
#TittleH2{
color: white;
font-size: 2.7em;
}
.divTittleTwo{  
width: 65vw;
height: 10vh;
position: absolute;
top: 14rem;
left: 2.5rem;
}       
#TittleParagraph{
color: white;
font-size: 1.3em;
font-family: 'Montserrat', sans-serif;   
}
#LayoutPurple{
background-color: #9767A9;
width: 100%;
height: 75vh;
flex-direction: column;
align-items: center;
justify-content: center;
}
.LayoutH2{
margin-bottom: 4rem;
width: 90%;
height: 10vh;
font-size: 1.5rem;
text-align: left;
}
.LayoutParagraph{
width: 90%;
height: 40vh;
font-size: 1rem;
margin-top: 5rem;
font-family: 'Montserrat', sans-serif;
}
main{
flex-direction: column; 
align-items: center;
}
.BackgroundCard{
width: 100%;
height: 550vh;
}
.CardH2{
color: white;
padding: 1rem 2rem 1rem 2rem;
font-weight: 700;
font-size: 1.3em;
font-family: 'Playfair Display', serif;
}
.CardParagraph{
color: white;
font-size: 0.9em;
margin-bottom: 1rem;
padding: 0rem 2rem 0 2rem;
font-family: 'Montserrat', sans-serif;
}
.PhotoCardLeftCriancas{
background-image: url("img/cabelo-espelho.png");
background-size: cover;
background-repeat: no-repeat;
z-index: 2;
width:90%;
height: 30vh;
margin-top: 0rem;
margin-left: 1.3rem;
}
.ParagraphCardLeftCriancas{
background-color:#9767A9;
width: 100%;
height: 54vh; 
margin-left: 0rem ;
margin-top: 0rem;
z-index: 1;
text-align: left;
flex-wrap: wrap;
color: white;
}
.PhotoCardRightMajur{
background-image: url("img/Majur-Coutinho.png");
background-size: cover;
background-repeat: no-repeat;
z-index: 2;  
width:90%;
height: 30vh;
margin-top: 0rem;
margin-left: 1.3rem;
}
.ParagraphCardRightMajur{
background-color:#9767A9;
width: 100%;
height: 47vh; 
margin-left: 0rem ;
margin-top: 0rem;
z-index: 1;
text-align: left;
color: white;
}
.PhotoCardLeftCachos{

background-image: url("img/Modelo-cachos.png");
background-size: cover;
background-repeat: no-repeat;
width:90%;
height: 30vh;
margin-top: 0rem;
margin-left: 1.3rem;
z-index: 2;
}
.ParagraphCardLeftCachos{
background-color:#9767A9;
width: 100%;
height: 45vh; 
margin-left: 0rem ;
margin-top: 0rem;
z-index: 1;
text-align: left;
flex-wrap: wrap;
color: white;

}
.PhotoCardRightRainha{
background-image: url("img/Rainha-Afro.png");
background-size: cover;
background-repeat: no-repeat;
width:90%;
height: 30vh;
margin-top: 0rem;
margin-left: 1.3rem;
z-index: 2;  
}
.ParagraphCardRightRainha{
background-color:#9767A9;
width: 100%;
height: 43vh; 
margin-left: 0rem ;
margin-top: 0rem;
z-index: 1;
text-align: left;
flex-wrap: wrap;
color: white;
}
.PhotoCardLeftFamilia{
background-image: url("img/Mae-e-Filha.png");
background-size: cover;
background-repeat: no-repeat;
width:90%;
height: 30vh;
margin-top: 0rem;
margin-left: 1.3rem;
z-index: 2;
}
.ParagraphCardLeftFamilia{
background-color:#9767A9;
width: 100%;
height: 43vh; 
margin-left: 0rem ;
margin-top: 0rem;
z-index: 1;
text-align: left;
flex-wrap: wrap;
color: white;

}
.PhotoCardRightBanho{
background-image: url("img/Espuma-no-cabelo.png");
background-size: cover;
background-repeat: no-repeat;
width:90%;
height: 30vh;
margin-top: 0rem;
margin-left: 1.3rem;
z-index: 2;  
}
.ParagraphCardRightBanho{
background-color:#9767A9;
width: 100%;
height: 43vh; 
margin-left: 0rem ;
margin-top: 0rem;
z-index: 1;
text-align: left;
flex-wrap: wrap;
color: white;
}
.PhotoCardLeftCabeloBranco{
background-image: url("img/Modelo-cabelo-branco.png");
background-size: cover;
background-repeat: no-repeat;
width:90%;
height: 30vh;
margin-top: 0rem;
margin-left: 1.3rem;
z-index: 2;
}
.ParagraphCardLeftCabeloBranco{
background-color:#9767A9;
width: 100%;
height: 35vh; 
margin-left: 0rem ;
margin-top: 0rem;
z-index: 1;
text-align: left;
flex-wrap: wrap;
color: white;

}  
.PhotoCardRightArquivoSvg{
background-image: url("svg/Cachos-preto.svg");
background-size: contain;
background-repeat: no-repeat;
background-position: center;
width:90%;
height: 30vh;
margin-top: 0rem;
margin-left: 1.3rem;
z-index: 2;  
}  
#GridGalery{
display: none;
}
#MobileGridGalery{
display: grid;
grid-template-columns: 4fr 4fr 4fr 4fr;
grid-template-rows: 30vw  50vw 50vw 50vw 30vw;
grid-template-areas: 
"MobRei MobRei MobBeyonce MobPantera"
"MobRei MobRei MobThaisA MobThaisA"
"MobGloriaM MobGloriaM MobGloriaM MobGloriaM"
"MobVolume MobRetinto MobGrace MobGrace"
"MobNagoHair MobSnoopyD MobGrace MobGrace";
grid-gap: 1vh;
margin-left: 0.5rem;
margin-right: 0.5rem;
}
.MobRei{
grid-area:MobRei ;
background-image: url("img/Rei-Afro.png");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
.MobBeyonce{
grid-area:MobBeyonce ;
background-image: url("img/Beyonce.png");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
.MobGrace{
grid-area:MobGrace ;
background-image: url("img/grace-jones.png");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
.MobVolume{
grid-area:MobVolume ;
background-image: url("img/Modelo-cabelo-volumoso.png");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
.MobNagoHair{
grid-area: MobNagoHair;
background-image: url("img/modelo-nago.png");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
.MobPantera{
grid-area: MobPantera;
background-image: url("img/Pantera-Negra.png");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
.MobRetinto{
grid-area: MobRetinto;
background-image: url("img/Modelo-retinto.png");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
.MobGloriaM{
grid-area: MobGloriaM;
background-image: url("img/gloriamaria.png");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
.MobThaisA{
grid-area: MobThaisA;
background-image: url("img/Thais-Araujo.png");
background-size: cover;
background-repeat: no-repeat;  
background-position: center;
}
.MobSnoopyD{
grid-area: MobSnoopyD;
background-image: url("img/cabelo-snoopydog.png");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
.FooterNav{
display: none;
}
footer{
background-color: white;
}
.MobileFooterLink{
text-decoration: none;
text-align: center;
flex-wrap: wrap;
display: flex;
justify-content: center;
align-items: center;

}
.MobileButtom{
background-color: #9767A9;
margin-right: 1rem;
display: flex;
align-items: center;
justify-content: center;
width: 12vw;
height: 5vh;
border-radius: 10vw;
}
svg{
    width: 7vw;
}
}


